html {
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
    font-weight: bold;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightblue;
}